.fondo {
    padding-top: 25px;
    background-color: black;
    color: green;
    text-align: center;
    height: 100hv;
    font-family: 'Josefin Slab', serif;
}

#cabecera {
    font-weight: bold;
    letter-spacing: 5px;
}

#tomatoImg {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}

.jumbo {
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #012501;
    padding-bottom: 25px;
}

.separa {
    width: 100%;
    height: 25px;
}

.btnCss {
    padding: 10px;
    width: 50px;
    height: 50px;
    color: green;
    border: 2px solid green;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent;
}

.btnCss:hover {
    box-shadow: 0px 0px 10px green;
}

#reloj {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.crono {
    display: flex;
    justify-content: center;
}

.contador {
    font-size: 100px;
    font-weight: bold;
}

#dosPuntosContador {
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
}

#btnTexto {
    color: green;
    text-decoration: none;
    font-size: 20px;
}

#btnTexto:hover {
    text-decoration: underline;
}

#bordeBarra {
    margin: 0 auto;
    padding: 1px;
    /*border: 1px solid #198A19;*/
    width: 202px;
    height: 31px;
    display: flex;
    border-radius: 5px;
}

#barraEstado1,
#barraEstado2,
#barraEstado3,
#barraEstado4 {
    width: 50px;
    height: 25px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: transparent;
    border: 1px solid #198A19;
    border-radius: 2px;
}

#btnAlarma {
    width: 300px;
    height: 50px;
    color: green;
    font-weight: bold;
    border: 2px solid green;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 30px;
}

#alarma button:hover {
    box-shadow: 0px 0px 20px #003E00;
}

#alarma {
    display: none;
    margin-top: 40px;
    margin-bottom: 25px;
}

#autor {
    text-align: center;
    font-size: 13px;
}

#footer {
    width: 100%;
    margin-bottom: 10px;
}

#btnFondo {
    padding: 10px;
    width: 150px;
    height: 50px;
    color: green;
    background-color: transparent;
    border: 2px solid green;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

#btnFondo:hover {
    box-shadow: 0px 0px 20px #003E00;
}